.review-page{
    width:60%;
    height: auto;
    margin: auto;
    margin-top: 10%;
    font-size: larger;
}

.reviewCard{
     background-color: ghostwhite;
    display: flex;
    gap:3rem;
    margin-bottom: 3rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    /* height: 10rem; */
}

.programCard-left{
    margin-left: 2rem;
}

.programCard-mid {
    border-left: 3px solid green;
    height: auto;
  }